@font-face {
    font-family: Roboto;
    src: local('Roboto'),
        local('Roboto Regualar'),
        local('Roboto-Reqular'),
        url(../fonts/Roboto-Regular.woff2) format('woff2'),
        url(../fonts/Roboto-Regular.woff) format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: local('Roboto Bold'),
        local('Roboto-Bold'),
        url(../fonts/Roboto-Bold.woff2) format('woff2'),
        url(../fonts/Roboto-Bold.woff) format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: local('Roboto Black'),
        local('Roboto-Black'),
        url(../fonts/Roboto-Black.woff2) format('woff2'),
        url(../fonts/Roboto-Black.woff) format('woff');
    font-weight: 900;
    font-display: swap;
}

html {
    position: relative;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    min-height: 100vh;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    padding: 0;
    cursor: pointer;
}

a {
    color: inherit;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p,
figure {
    margin: 0;
}

iframe {
    border: none;
}

/*
Доступно скрываю элементы
*/

.visually-hidden {
    position: fixed;
    transform: scale(0);
}